body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.5em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.5em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.gif-item {
    background-color: #FFFFFF;
    border: 1px solid #383838;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.gif-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.description {
    padding: 10px;
}

.gif-title {
    font-weight: bold;
    margin: 0;
    font-size: 1.25em;
    color: #000000;
}

.gif-description {
    font-weight: bold;
    margin: 0;
    font-size: 1em;
    color: #383838;
}

.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #383838;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
}

.download-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.download-all-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #383838;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 600px;
    height: 40px;
    box-sizing: border-box;
}

.download-all-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.search-input {
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #383838;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    outline: none;
}

@media (max-width: 768px) {
    .search-container {
        width: 90%;
    }
}